<h1>Reactive Form</h1>

<div *ngIf="success" class="alert alert-success">Successfully Saved!</div>

<form [formGroup]="frm">
  <div class="col-md-5">
    <div class="form-group">
      <input type="text" placeholder="Brand" class="form-control" formControlName="brand" />
      <span *ngIf="frm.controls.brand.touched && frm.controls.brand.errors?.required" class="text-danger">Required</span>
      <span *ngIf="frm.controls.brand.touched && frm.controls.brand.errors?.minlength" class="text-danger">Min 3 Chars</span>
      <span *ngIf="frm.controls.brand.touched && frm.controls.brand.errors?.maxlength" class="text-danger">Max 10 Chars</span>
    </div>
    <div class="form-group">
      <input type="text" placeholder="Model" class="form-control" formControlName="model" />
      <span *ngIf="frm.controls.model.touched &&  frm.controls.model.errors?.required" class="text-danger">Required</span>
    </div>
    <div class="form-group">
      <input type="text" placeholder="Price" class="form-control" formControlName="price" />
      <span *ngIf="frm.controls.price.touched && frm.controls.price.errors?.required" class="text-danger">Required</span>
    </div>
    <div class="form-group">
      <input type="checkbox" formControlName="inStock" /> InStock
    </div>
    <div class="form-group">
      <input type="text" placeholder="Phone" class="form-control" formControlName="phone" />
      <span *ngIf="frm.controls.phone.touched && frm.controls.phone.errors?.pattern" class="text-danger">Invalid Phone
        number</span>
    </div>
    <div class="form-group">
      <button [disabled]="frm.invalid" class="btn btn-success" (click)="onSave()">Save Product</button>
    </div>
  </div>
</form>