/* You can add global styles to this file, and also import other style files */
.red{
  background-color:red;
}

.green{
  color:green;
}

.bg1{
  background-color:aliceblue;
}

.bg2{
  background-color:#ddd;
}
.circle-img{
  border-radius: 50px;
}
.navbar-brand,.navbar ul li a,footer{
  color:#fff !important;
}

.loader{
  position: relative;
  margin-top:200px;
  left:45%;
  border:1px solid gray;
  height: 35px;
  width:120px;
}